<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orders</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/order.css">
</head>
<body>
    <%- include('includes/menu.ejs') %>
    <% if(!isAuth){ %>
        <h1>Login to continue</h1>
        <% } %>
    <% if(isAuth){ %>
        <h2>All orders</h2>
        <% data.map((val)=>{ %>
        <% for (const cartorder of val.cartdata.orders) {%>
        <section id="ordcontainer">
            <div id="orders">
                <h2>Product Name:  <%= cartorder.title %> </h2>
                <h2>Product Price: <%= cartorder.price %></h2>
                <h2>product quanity: <%= cartorder.quanity %></h2>
                <% let price=0 %>
            </div>
        </section>
        <div>
            <% for(const order of val.cartdata.orders) {%>
                <% price=val.cartdata.orders.map((val)=>{ %>
                    <% return val.quanity*val.price %>
                    <% }) %>
                <% const total=price.reduce((pre,cur)=>{ %>
                    <% return pre+cur %>
                    <% },0) %>
                    <h4>Total Price: Rs.<%= total %></h4>
                <% } %>
        </div>
        <% } %>
        <h1> <%= val.status %></h1>
        <form action="/admin/<%= val._id %>/updatestatus" method="post">
            <select name="status" >
                <option value="pending">Pending</option>
                <option value="Fullfilled">Fullfilled</option>
                <option value="Packing">Packing</option>
            </select>
            <button id="btn">Submit</button>
        </form>
        <% }) %>
        <% } %>
</body>
</html>